:root {
	--background-color: #111;
	--header-color: #DDD;
	--text-color: #2E2;
	--link-color: #DDD;
	--link-hover-color: #D22;
}

body, header, main, footer {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

header > h1 {
	text-align: center;
}
header > nav > ul {
	background-color:darkblue;
	padding: 10px 5px 10px 5px;
}
header > nav > ul > li {
	display: inline-block;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);

	position: relative;
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--header-color);
}

a {
	color: var(--link-color);
}
a:hover {
	color: var(--link-hover-color);
}

@media screen and (min-width: 720px) {
	body {
		margin: auto;
		display: grid;
		grid-template-columns: auto 240px 480px auto;
		grid-template-areas:
			'. header header .'
			'. aside main .'
			'. footer footer .';
	}
	body > header {
		grid-area: header;
	}
	body > aside {
		grid-area: aside;
		position: sticky;
		height: min-content;
	}

	body > main {
		grid-area: main;
	}
	body > footer {
		grid-area: footer;
	}
}

@media screen and (min-width: 900px) {
	body {
		grid-template-columns: auto 240px 640px auto;
	}
}